html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
}


main {
  max-width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

.write-note-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar > * {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.view-all-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}